# top-most EditorConfig file
root = true

[*.{py,html}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{css,scss,js,jsx,ts,tsx,pug}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set default charset
[*.{js,py}]
charset = utf-8
